<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishFlavorMapper">
    <insert id="insertDishFlavorByList">
        insert into dish_flavor (id, dish_id, name, value) values
        <foreach collection="list" item="obj" separator=",">
            (#{obj.id},#{obj.dishId},#{obj.name},#{obj.value})
        </foreach>
    </insert>

    <delete id="deleteDishFlavorByDishIds">
        delete from dish_flavor where dish_id in
        <foreach collection="list" item="dishId" open="(" separator="," close=")">
            #{dishId}
        </foreach>
    </delete>

</mapper>