<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderDetailMapper">
    <insert id="insertOrderDetailByList">
        insert into order_detail (id, name, image, order_id, dish_id, setmeal_id, dish_flavor, number, amount) values
        <foreach collection="list" item="obj" separator=",">
            (#{obj.id},#{obj.name},#{obj.image},#{obj.orderId},#{obj.dishId},#{obj.setmealId},#{obj.dishFlavor},#{obj.number},#{obj.amount})
        </foreach>
    </insert>
</mapper>