<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealMapper">
    <select id="pageQuery" resultType="com.sky.vo.SetmealVO">
        select s.*,c.name as categoryName from setmeal s
        inner join category c on s.category_id = c.id
        <where>
            <if test="name != null">
                s.name like concat('%',#{name},'%')
            </if>
            <if test="categoryId != null">
                s.category_id = #{categoryId}
            </if>
            <if test="status != null">
                s.status = #{status}
            </if>
        </where>
    </select>

    <update id="update">
        update setmeal s
        <set>
            <if test="name != null">
                s.name = #{name},
            </if>
            <if test="price != null">
                s.price = #{price},
            </if>
            <if test="categoryId != null">
                s.category_id = #{categoryId},
            </if>
            <if test="image != null">
                s.image = #{image},
            </if>
            <if test="description != null">
                s.description = #{description},
            </if>
            <if test="status != null">
                s.status = #{status},
            </if>
            <if test="updateTime != null">
                s.update_time = #{updateTime},
            </if>
            <if test="updateUser != null">
                s.update_user = #{updateUser}
            </if>
        </set>
        where s.id = #{id}
    </update>

    <select id="list" parameterType="Setmeal" resultType="Setmeal">
        select * from setmeal
        <where>
            <if test="name != null">
                and name like concat('%',#{name},'%')
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>

    <update id="updateSetmealStatusStopByIds">
        update setmeal set status = 0 where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="countByMap" resultType="java.lang.Integer">
        select count(id) from setmeal
        <where>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
        </where>
    </select>

</mapper>